<nav class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="cbp-spmenu-s4">
  <h3>Members</h3>
  <ul id="membersList">

    <% @members.each do |member| %>

      <li data-member-id="<%= member.id %>" style="display:inline-block">
        <span data-toggle="tooltip" data-placement="left" title="<%= member.name %>" data-trigger="hover" data-id="<%= member.id %>"><%= image_tag 'default_avatar.png', class: "user-img" %></span>
      </li>

    <% end %>

  </ul>
</nav>

<script>

  var menuBottom = document.getElementById( 'cbp-spmenu-s4' ),
      showBottom = document.getElementById( 'showBottom' ),
      body = document.body;

  showBottom.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuBottom, 'cbp-spmenu-open' );
  };

</script>
