<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
  <h3>Members</h3>
  <ul id="membersList">

    <% @members.each do |member| %>

      <li data-member-id="<%= member.id %>">
        <span data-toggle="tooltip" data-placement="left" title="<%= member.name %>" data-trigger="hover" data-id="<%= member.id %>"><%= image_tag 'default_avatar.png', class: "user-img" %></span>
      </li>

    <% end %>

  </ul>
</nav>


<div class="main">
  <section>
    <button id="showRight">Show/Hide Right Slide Menu</button>
  </section>
</div>


<script>

  var menuRight = document.getElementById( 'cbp-spmenu-s2' ),
      showRight = document.getElementById( 'showRight' ),
      body = document.body;

  showRight.onclick = function() {
    classie.toggle( this, 'active' );
    classie.toggle( menuRight, 'cbp-spmenu-open' );
  };

</script>
