$red: #FF6666;
$blue: #31b0d5;
$green: #81C483;
$purple: #7B77C9;
$orange: #ED9121;
$gray: rgba(0,0,0,0.7);
$white: #fff;
$muted-blue: #F3F7F9;
$light-background-gray: #f7f7f7;


html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  z-index: 1;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -moz-box-sizing: border-box; }

*:before,
*:after {
  -moz-box-sizing: border-box; }

/* clear bootstrap style */
a.thumbnail, a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  border: none;
}

a:focus, textarea:focus, button:focus {
  outline: none;
}
<<<<<<< HEAD

a, a:hover {
  text-decoration: none;
  outline: none;
  text-decoration: none;
}

=======
>>>>>>> parent of c074d34... restyling map page
textarea {
  resize: none;
}

/*remove bootstrap table border*/
.table > tbody > tr > td {
  border-top: none;
}

ul, li {
  padding: 0px;
  margin: 0px;
  display: block;
  list-style-type: none;
}

p {
  margin-bottom: 0px;
}

.no-pad {
  padding: 0px;
}

.ital {
  font-style: italic;
}

%transition {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

// For background % cover
@mixin background-size($percent) {
  background-size: $percent;
  -o-background-size:$percent auto;
  -webkit-background-size:$percent auto;
  -moz-background-size:$percent auto;
  background-size:$percent auto;
}

%background-size-cover {
  background-size: cover;
  -o-background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
}

@mixin button($color) {
  border: none;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 0px;
  font-family: 'Open Sans', sans-serif;
  background: $color;
  @extend %transition;

  &:hover {
    text-decoration: none;
    background-color: darken($color, 5%);
    cursor: pointer;
  }
}

.blue-btn   { @include button($blue); padding: 3px 10px; }
.green-btn  { @include button($green); padding: 3px 10px; }
.red-btn    { @include button($red);  padding: 3px 10px; }
.purple-btn { @include button($purple); padding: 3px 10px; }
.white-btn  { @include button($white); padding: 3px 10px; }

.blue-txt   { color: $blue }
.green-txt  { color: $green }
.red-txt    { color: $red }
.purple-txt { color: $purple }
.gray-txt   { color: $gray }

.blue-txt-hover   { color: $blue; @extend %transition; &:hover { color: darken($blue, 5%); cursor: pointer; } }
.green-txt-hover  { color: $green; @extend %transition; &:hover { color: darken($green, 5%); cursor: pointer; } }
.red-txt-hover    { color: $red; @extend %transition; &:hover { color: darken($red, 5%); cursor: pointer; } }
.purple-txt-hover { color: $purple; @extend %transition; &:hover { color: darken($purple, 5%); cursor: pointer; } }


@mixin text-styling($color, $font-size, $font-weight) {
  font-family: 'Open Sans', sans-serif;
  font-weight: $font-weight;
  text-align: center;
  color: $color;
  font-size: $font-size;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  text-decoration: none;
}


@mixin user-img($diameter, $border-radius, $display) {
  height: $diameter;
  width: $diameter;
  border-radius: $border-radius;
  display: $display;
}
