@import "globals";

#mixContainer {
  position: relative;
  min-height: -webkit-calc(100vh - 51px);
  min-height: -moz-calc(100vh - 51px);
  min-height: calc(100vh - 51px);
  padding: 15px;
  background: #03899C none repeat scroll 0% 0%;

  .mix-list {
    margin-bottom: calc(2% - 8px);

    .mix {
      @include text-styling($gray, 1em, 400);
      display: none;
      transform-style: preserve-3d;
      position: relative;
      text-align: center;
      line-height: 1.8em;
      color: rgba(255, 255, 255, 0.9);
      vertical-align: top;
      margin-bottom: 8px;
      height: 70px;

      a {
        background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%;
        text-decoration: none;
        height: 60px;
        padding: 4% 2%;
        line-height: 1.3em;
        @include text-styling(#fff, 0.9em, 600);

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .control-bar {
    margin-bottom: 2%;

    .filter {
      background: #F2F2F2 none repeat scroll 0% 0%;
      height: 3em;
      line-height: 3em;
      @include text-styling($gray, 1em, 600);

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      background: #68B8C4 none repeat scroll 0% 0%;
      color: #FFF;
    }
  }
}

.mix::after {
  content: "";
  position: absolute;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #FFF transparent transparent;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  top: -15px;
  left: -10px;
  transform: rotate(45deg);
}

.mix.complete::after {
  border-right-color: #62b857;
}

.mix.incomplete::after {
  border-right-color: #FF6666;
}

.brain-dump-category-list {

  .ac-custom-list-item {
    padding: 4px;

    .list-item-inner {
      padding: 4px;
      word-wrap: break-word;
      background-color: white;
      border: 1px solid #e7e7e7;
      height: 100%;
      display: table;

      .brain-dump-tab {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        @include text-styling($gray, 1em, 500);
        height: 100%;
        line-height: 1.2em;

        img {
          bottom: 15%;
          position: absolute;
          text-align: center;
          left: 45%;
        }
      }
    }
  }
}

.brain_dump_info {

  .word-header-container {
    background-color: $gray;
    height: 3.3em;
    padding: 10px;

    .word-header {
      margin: 0px;
      padding: 10px;
      @include text-styling(white !important, 1.3em, bold);
      width: 100%;
      text-align: left;
      padding-left: 30px;
      display: inline;
      line-height: 1.3em;
    }

    .circle {
      width: 18px;
      height: 18px;
      background: transparent;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 1.1em;
      left: 10px;
      border: 3px solid #fff;

      .fa-check {
        position: absolute;
        color: $green;
        top: -2px;
        display: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .circle.done {
      border: 3px solid $green;
    }

    .assign-due-date {
      color: white;
    }
  }



  .content {
    padding: 10px;
    background-color: $light-background-gray;

    .assignees {
      .user-img {
        @include user-img(40px, 50%, inline-block);
        margin: 0.6em;
      }
    }

    .actions-bar {
      padding: 5px 0px;

      p {
        @include text-styling($gray, 12px, bold);
        display: inline-block;
      }

      a {
        padding: 0px 5px;
        @include text-styling($white, 12px, 600);
      }
    }

    #FileForm {
      .dropzone {
        border: 2px dashed rgba(0,0,0,0.3);
        min-height: 100px;
      }
    }
  }

  #brainDumpNotesList {
    li {
      margin: 6px 0px;

      .note-user-img {
        @include user-img(40px, 50%, inline-block);
      }
    }
  }
}



.datepicker {
  background: transparent none repeat scroll 0% 0%;
  border: none;
  color: transparent;
  text-shadow: 0 0 0 white;
  text-decoration: underline;
  font-weight: 500;
  @extend %transition;

  &:hover {
    cursor: pointer;
    text-shadow: 0 0 0 darken(white, 10%);
  }

  &:focus {
    outline: none;
  }
}

.brain-dumps-map .ui-datepicker {
  background: #29a2d9;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 1px 3px #252525;
  padding: 0;

  .ui-datepicker-header {
    border: none;
    border-bottom: 1px solid #2d97cb;
    background: transparent;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;

    .ui-state-hover {
      background: transparent;
      border-color: transparent;
      cursor: pointer;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
    }
  }

  .ui-datepicker-title {
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: white;

    .ui-datepicker-month {
      font-weight: bold;
    }
  }

  .ui-datepicker-prev-hover,
  .ui-datepicker-next-hover,
  .ui-datepicker-next,
  .ui-datepicker-prev {
    top: 1.7em;
    border:none;
    color: white;
    text-decoration: none;
  }

  .ui-datepicker-next {
    float: right;
    margin-right: 1em;
  }

  .ui-datepicker-prev {
    float: left;
    margin-left: 1em;

    span {
      background-position: -96px -32px;
    }
  }

  .ui-datepicker-prev-hover {
    left: 2px;

    span {
      background-position: -96px -48px;
    }
  }

  .ui-datepicker-next-hover {
    right: 2px;

    span {
      background-position: -32px -48px;
    }
  }

  .ui-datepicker-next span,
  .ui-datepicker-prev span {
    background-position: -32px -32px;
    margin-top: 0;
    top: 0;
    font-weight: normal;
  }

  table {
    margin: 0;
    width: 100%;
  }

  th {
    padding: 2em 0;
    color: #9fd9f1;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-top: 1px solid #3fabdc;
    text-align: center;
  }

  td {
    border: none;
    text-align: center;
    padding: 0;

    a {
      text-decoration: none;
      display: block;
      border-radius: 0px;
    }

    .ui-state-default {
      background: transparent;
      border: none;
      text-align: center;
      padding: 0.3em;
      margin: 0;
      font-weight: normal;
      color: #efefef;
      font-size: 12px;
    }

    .ui-state-active,
    .ui-state-hover {
      background: #1b7fb0;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
    }
  }
}
