@import "globals";

#mixContainer {
  position: relative;
  // min-height: -webkit-calc(100vh - 51px);
  // min-height: -moz-calc(100vh - 51px);
  // min-height: calc(100vh - 51px);
  min-height: 100vh;
  padding: 15px;
  background: #03899C none repeat scroll 0% 0%;

  .mix {
    @include text-styling($gray, 1em, 400);
    display: none;
    transform-style: preserve-3d;
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%;
    line-height: 1.8em;
    color: rgba(255, 255, 255, 0.9);
    vertical-align: top;
    height: 60px;

    a {
      text-decoration: none;
      height: 50px;
      padding-top: 4%;
      line-height: 1.3em;
      @include text-styling(#fff, 0.9em, 600);

      &:hover {
        text-decoration: none;
      }
    }
  }

  .control-bar {
    margin-bottom: 2%;

    .filter {
      background: #F2F2F2 none repeat scroll 0% 0%;
      height: 3em;
      line-height: 3em;
      @include text-styling($gray, 1em, 600);

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      background: #68B8C4 none repeat scroll 0% 0%;
      color: #FFF;
    }
  }
}

.mix::after {
  content: "";
  position: absolute;
  border-width: 15px;
  border-style: solid;
  border-color: transparent #FFF transparent transparent;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  top: -15px;
  left: -15px;
  transform: rotate(45deg);
}

.mix.complete::after {
  border-right-color: #62b857;
}

.mix.incomplete::after {
  border-right-color: #FF6666;
}

.brain-dump-category-list {

  .ac-custom-list-item {
    padding: 4px;

    .list-item-inner {
      padding: 4px;
      word-wrap: break-word;
      background-color: white;
      border: 1px solid #e7e7e7;
      height: 100%;
      display: table;

      .brain-dump-tab {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        @include text-styling($gray, 1em, 500);
        height: 100%;
        line-height: 1.2em;

        img {
          bottom: 15%;
          position: absolute;
          text-align: center;
          left: 45%;
        }
      }
    }
  }
}

.brain_dump_info {

  .word-header {
    background-color: $gray;
    margin: 0px;
    padding: 10px;
    @include text-styling(white !important, 1.3em, bold);
    width: 100%;
    text-align: left;
    padding-left: 40px;
  }

  .circle {
    width: 18px;
    height: 18px;
    background: transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 10px;
    border: 3px solid #fff;

    .fa-check {
      position: absolute;
      color: $green;
      top: -2px;
      display: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .circle.done {
    border: 3px solid $green;
  }

  .content {
    padding: 10px;
    background-color: $light-background-gray;

    .assignees {
      .user-img {
        @include user-img(40px, 50%, inline-block);
        margin: 0.6em;
      }
    }

    .actions-bar {
      padding: 5px 0px;

      p {
        @include text-styling($gray, 12px, bold);
        display: inline-block;
      }

      a {
        padding: 0px 5px;
        @include text-styling($white, 12px, 600);
      }
    }
  }

  #brainDumpNotesList {
    li {
      margin: 6px 0px;

      .note-user-img {
        @include user-img(40px, 50%, inline-block);
      }
    }
  }
}
