@import "globals";

// #mixContainer {
//   position: relative;
//   min-height: -webkit-calc(100vh - 51px);
//   min-height: -moz-calc(100vh - 51px);
//   min-height: calc(100vh - 51px);
//   padding: 15px;
//   background: #03899C none repeat scroll 0% 0%;

//   .mix-list {
//     margin-bottom: calc(2% - 8px);

//     .mix {
//       @include text-styling($gray, 1em, 400);
//       display: none;
//       transform-style: preserve-3d;
//       position: relative;
//       text-align: center;
//       line-height: 1.8em;
//       color: rgba(255, 255, 255, 0.9);
//       vertical-align: top;
//       margin-bottom: 8px;
//       height: 70px;

//       a {
//         background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%;
//         text-decoration: none;
//         height: 60px;
//         padding: 8% 4%;
//         line-height: 1.3em;
//         @include text-styling(#fff, 0.8em, bold);

//         &:hover {
//           text-decoration: none;
//         }
//       }
//     }
//   }

//   .control-bar {
//     margin-bottom: 2%;

//     .filter {
//       background: #F2F2F2 none repeat scroll 0% 0%;
//       height: 3em;
//       line-height: 3em;
//       @include text-styling($gray, 1em, 600);

//       &:hover {
//         cursor: pointer;
//       }
//     }

//     .active {
//       background: #68B8C4 none repeat scroll 0% 0%;
//       color: #FFF;
//     }
//   }
// }

// .mix::after {
//   content: "";
//   position: absolute;
//   border-width: 15px;
//   border-style: solid;
//   border-color: transparent #FFF transparent transparent;
//   -moz-border-top-colors: none;
//   -moz-border-right-colors: none;
//   -moz-border-bottom-colors: none;
//   -moz-border-left-colors: none;
//   border-image: none;
//   top: -15px;
//   left: -10px;
//   transform: rotate(45deg);
// }

// .mix.complete::after {
//   border-right-color: #62b857;
// }

// .mix.incomplete::after {
//   border-right-color: #FF6666;
// }

// .brain-dump-category-list {

//   .ac-custom-list-item {
//     padding: 4px;

//     .list-item-inner {
//       padding: 4px;
//       word-wrap: break-word;
//       background-color: white;
//       border: 1px solid #e7e7e7;
//       height: 100%;
//       display: table;

//       .brain-dump-tab {
//         display: table-cell;
//         vertical-align: middle;
//         width: 100%;
//         @include text-styling($gray, 0.8em, bold);
//         height: 100%;
//         line-height: 1.2em;

//         img {
//           bottom: 15%;
//           position: absolute;
//           text-align: center;
//           left: 45%;
//         }
//       }
//     }
//   }
// }

.content__item {

  .word-header-container {
    background-color: #404040;
    height: 3.3em;
    padding: 10px;
    width: 100%;
    z-index: 10;
    position: fixed;

    .word-header {
      margin: 0px;
      @include text-styling(white !important, 1.3em, bold);
      width: 100%;
      text-align: left;
      display: inline;
      line-height: 25px;
      padding-left: 30px;
    }

    .circle {
      width: 18px;
      height: 18px;
      background: transparent;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      position: absolute;
      top: 1em;
      left: 10px;
      border: 3px solid #fff;

      .fa-check {
        position: absolute;
        color: $green;
        top: -2px;
        display: none;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .circle.done {
      border: 3px solid $green;
    }

    .assign-due-date {
      color: white;
    }
  }

  .item_content {
    padding-top: 51px;

    .meta-header {
      margin: 0.5em;
      text-align: center;
    }

    .assignees {
      text-align: center;
      height: 100%;

      li  {
        display: inline-block;

        .user-img {
          @include user-img(45px, 50%, inline-block);
          margin: 0 0.6em;
        }

        .showBottom {
          background: white none repeat scroll 0% 0%;
          display: inline-block;
          border-radius: 50%;
          width: 45px;
          height: 45px;
          border: 1px solid darken(#f5f5f5, 5%);
          text-decoration: none;
          vertical-align: middle;
          margin: 0px 0.6em !important;
          @extend %transition;

          .fa-plus {
            line-height: 45px;
            margin: 0px;
          }

          &:hover {
            border: 1px solid darken($green, 5%);
          }
        }
      }
    }

    .actions-bar {
      padding: 5px 0px 15px;

      p {
        @include text-styling($gray, 12px, bold);
        display: inline-block;
      }

      a {
        padding: 0px 5px;
        @include text-styling($white, 12px, 600);
      }
    }

    #FileForm {
      .dropzone {
        border: 2px dashed rgba(0,0,0,0.3);
        height: 6em !important;
        background: $light-background-gray;

        .dz-message {
          margin: 0.5em 0px !important;
          font-family: "Open Sans",sans-serif;
        }
      }
    }
  }

  #brainDumpNotesList {
    li {
      padding: 10px 0px;
      border-bottom: 1px solid #EEE;

      .note-user-img {
        @include user-img(40px, 50%, inline-block);
      }
    }
  }
}



.datepicker {
  background: transparent none repeat scroll 0% 0%;
  border: none;
  color: transparent;
  text-shadow: 0 0 0 white;
  text-decoration: underline;
  font-weight: 500;
  @extend %transition;

  &:hover {
    cursor: pointer;
    text-shadow: 0 0 0 darken(white, 10%);
  }

  &:focus {
    outline: none;
  }
}

.brain-dumps-map .ui-datepicker {
  background: #29a2d9;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  box-shadow: 0 1px 3px #252525;
  padding: 0;
  z-index: 200 !important;

  .ui-datepicker-header {
    border: none;
    border-bottom: 1px solid #2d97cb;
    background: transparent;
    font-weight: normal;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    width: 200px;

    .ui-state-hover {
      background: transparent;
      border-color: transparent;
      cursor: pointer;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
    }
  }

  .ui-datepicker-title {
    margin-top: 1.5em;
    margin-bottom: 1em;
    color: white;

    .ui-datepicker-month {
      font-weight: bold;
    }
  }

  .ui-datepicker-prev-hover,
  .ui-datepicker-next-hover,
  .ui-datepicker-next,
  .ui-datepicker-prev {
    top: 1.7em;
    border:none;
    color: white;
    text-decoration: none;
  }

  .ui-datepicker-next {
    float: right;
    margin-right: 1em;
  }

  .ui-datepicker-prev {
    float: left;
    margin-left: 1em;

    span {
      background-position: -96px -32px;
    }
  }

  .ui-datepicker-prev-hover {
    left: 2px;

    span {
      background-position: -96px -48px;
    }
  }

  .ui-datepicker-next-hover {
    right: 2px;

    span {
      background-position: -32px -48px;
    }
  }

  .ui-datepicker-next span,
  .ui-datepicker-prev span {
    background-position: -32px -32px;
    margin-top: 0;
    top: 0;
    font-weight: normal;
  }

  table {
    margin: 0;
    width: 100%;
  }

  th {
    padding: 2em 0;
    color: #9fd9f1;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-top: 1px solid #3fabdc;
    text-align: center;
  }

  td {
    border: none;
    text-align: center;
    padding: 0;

    a {
      text-decoration: none;
      display: block;
      border-radius: 0px;
    }

    .ui-state-default {
      background: transparent;
      border: none;
      text-align: center;
      padding: 0.3em;
      margin: 0;
      font-weight: normal;
      color: #efefef;
      font-size: 12px;
    }

    .ui-state-active,
    .ui-state-hover {
      background: #1b7fb0;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
    }
  }
}


.image-attachment {
  img {
    border-radius: 3px;
  }
}










$item_width: 300px;
$sidebar_width: 300px;
$color_primary: #f5f5f5;
$color_secondary: #fff;
$color_link: #81c483;
$anim-time: 0.5s;

$serif: 'Playfair Display', serif;
$sansserif: 'Open Sans', serif;

@import url(http://fonts.googleapis.com/css?family=Playfair+Display+SC:400italic,700,900|Raleway:500|Martel+Sans:400,700);

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { display: table;  content: ''; }
.clearfix:after { clear: both; }

body {
  background: $color_secondary;
  color: #7b7b7b;
  overflow: hidden;
  overflow-y: scroll; /* force scroll to appear */
}

/* helper class when showing content */
.noscroll {
  overflow: hidden;
}

button:focus {
  outline: none;
}

/* Sidebar */
.sidebar {
  text-align: center;
  background: $color_primary;
  z-index: 1000;
  position: fixed;
  width: $sidebar_width;
  max-width: 100%;
  height: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 2em 1em;

  .category-list {

    li {
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 10px;
      margin: 3% 0;

      a {
        color: rgba(0,0,0,0.7);
        font-family: 'open sans';
        text-transform: capitalize;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: block;

        &:active {
          text-decoration: none;
        }
      }
    }
  }
}

.sidebar h1 {
  margin: 0.75em 0;
  font-size: 2em;
  line-height: 1;
  font-family: $sansserif;
}

.sidebar h1 span {
  display: block;
}


/* Main content */
.main {
  position: relative;
  margin-top: -51px;
  padding-top: 51px;
  z-index: 200;
}

/* Grid container */
.grid {
  position: relative;
}

/* Overlay */
.grid::after {
  content: '';
  background: rgba(202,202,202,0.4);
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity $anim-time;
  transition: opacity $anim-time;
}

.view-single .grid::after {
  opacity: 1;
}

/* Top bar above the grid */
.top-bar {
  background: #fff;
  width: 100%;
  line-height: 1;
  padding: 15px 15px 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.top-bar__headline {
  margin: 0;
  font-size: 0.75em;
}

/* Menu button for toggling the sidebar (appears on small screen) */
.menu-toggle {
  position: fixed;
  z-index: 100;
  display: block;
  width: 25px;
  height: 25px;
  top: 14px;
  left: 14px;
  cursor: pointer;
  background: none;
  border: none;
  display: none;
  margin: -2px 15px 0 0;
}

.menu-toggle span {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: $color_link;
  font-size: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-toggle span:before,
.menu-toggle span:after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: $color_link;
  content: '';
}

.menu-toggle span:before {
  -webkit-transform: translateY(-7px);
  transform: translateY(-7px);
}

.menu-toggle span:after {
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
}

/* Filter/dropdown dummy on the right */
.filter {
  text-align: right;
  font-size: 0.75em;
  margin-left: auto;
}

.dropdown {
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
  color: $color_link;
}

.dropdown::after {
  content: '\25BC';
  margin-left: 2px;
  font-size: 80%;
}

/* Grid item */
.grid__item {
  padding: 25px 20px 10px;
  position: relative;
  color: inherit;
  background: $color_secondary;
  height: $item_width;
  max-height: 250px;
  cursor: pointer;
  text-align: center;
  float: left;
  // display: -webkit-box;
  // display: -webkit-flex;
  // display: -ms-flexbox;
  // display: flex;
  display: inline-block;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;

  .checkmark-img {
    margin: 0 auto;
  }
}

/* Grid item "border" */
.grid__item::before {
  position: absolute;
  content: '';
  top: 0px;
  right: 55px;
  bottom: 0px;
  left: 55px;
  border-bottom: 1px solid rgba(74,74,74,0.075);
}

.grid__item * {
  z-index: 10;
}

/* grid item element and full content element styles */
.title {
  margin: 0;
  font-size: 1.3em;
  font-family: $sansserif;
  text-align: center;
}

.title--preview {
  -webkit-flex: 1;
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

.loader {
  height: 1px;
  width: 40%;
  margin: 1em auto;
  position: relative;
  background: rgba(0,0,0,0.1);
}

.loader::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #a4e7ad;
  left: 0;
  top: -1px;
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

.grid__item--loading .loader::before {
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
  transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.category {
  margin: 0;
  position: relative;
  font-size: 0.95em;
  font-style: italic;
  font-family: $sansserif;
  text-align: center;
  display: block;
}

.title--preview,
.loader,
.category {
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* closing (delays) */
.title--preview {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.grid__item .category {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

/* opening */
.grid__item--animate .title--preview {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 0;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
}

.grid__item--animate .loader {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  opacity: 0;
  -webkit-transform: translate3d(0, -30px, 0);
  transform: translate3d(0, -30px, 0);
}

.grid__item--animate .category {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  opacity: 0;
  -webkit-transform: translate3d(0, -40px, 0);
  transform: translate3d(0, -40px, 0);
}

.meta {
  font-size: 0.765em;
  text-align: left;
}

.meta .fa {
  margin-right: 4px;
}

.meta:before, .meta:after { display: table;  content: ''; }
.meta:after { clear: both; }

.meta__avatar {
  display: block;
  border-radius: 50%;
  margin: 2em auto;
}

.meta--preview .meta__avatar {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}

.grid__item:hover .meta--preview .meta__avatar,
.grid__item:focus .meta--preview .meta__avatar  {
  -webkit-filter: none;
  filter: none;
}

.meta__date,
.meta__reading-time {
  display: block;
  float: left;
  color: #aaa;
}

.meta__reading-time {
  text-align: right;
  float: right;
}

.meta__misc {
  display: block;
  clear: both;
  text-align: left;
  padding: 5px 0;
}

.meta__misc--seperator {
  padding: 20px 0 0;
  margin: 65px 0 0;
  border-top: 1px solid $color_primary;
}

.article-nav {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.article-nav button {
  border: none;
  color: $color_link;
  background: none;
}

.article-nav button:hover {
  color: #333;
}

.meta--preview {
  .meta__avatar,
  .meta__date,
  .meta__reading-time {
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  }
}

.grid__item--loading .meta__avatar {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.grid__item--loading .meta__date {
  -webkit-transition-delay: 0.17s;
  transition-delay: 0.17s;
}

.grid__item--loading .meta__reading-time {
  -webkit-transition-delay: 0.24s;
  transition-delay: 0.24s;
}

.grid__item--loading {
  .meta__avatar,
  .meta__date,
  .meta__reading-time {
    -webkit-transform: scale3d(0.5,0.5,1);
    transform: scale3d(0.5,0.5,1);
    opacity: 0;
  }
}

/* Grid footer */
.page-meta {
  width: 100%;
  background: #fff;
  width: 100%;
  padding: 15px 15px 10px;
  text-align: center;
  font-size: 0.75em;
  font-weight: bold;
  cursor: default;
}

/* Placeholder element (dummy that gets animated when we click on an item) */
.placeholder {
  pointer-events: none;
  position: absolute;
  width: calc(100% + 5px);
  height: calc(100vh + 5px);
  z-index: 100;
  top: 0;
  left: 0;
  background: $color_secondary;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.placeholder.placeholder--trans-in {
  -webkit-transition: -webkit-transform $anim-time;
  transition: transform $anim-time;
  -webkit-transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
  transition-timing-function: cubic-bezier(0.165,0.84,0.44,1);
}

.placeholder.placeholder--trans-out {
  -webkit-transition: -webkit-transform $anim-time;
  transition: transform $anim-time;
}

/* main content */
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  height: 0; /* Avoid second scroll bar in Chrome! */
  visibility: hidden;
  z-index: 100;
  overflow: hidden;
}

.content.content--show {
  height: 100vh;
  pointer-events: auto;
  visibility: visible;
}

/* scroll helper wrap */
.scroll-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

/* single content item */
.content__item {
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  height: 0;
  opacity: 0;
  // padding: 60px 60px 80px 60px;
  pointer-events: none;
  font-size: 0.85em;
}

.content__item.content__item--show {
  height: auto;
  min-height: 100vh;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* content elements */
.category--full {
  font-size: 1.25em;
  margin-bottom: 20px;
  color: $color_link;
}

.title--full {
  font-size: 3.25em;
}

.meta--full {
  font-size: 1em;
  margin: 0 auto 2em;
  max-width: 1200px;
  .meta__author {
    display: block;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .meta__author::before {
    content: 'by ';
    font-weight: normal;
  }
  .meta__category {
    font-style: italic;
    float: left;
    margin: 0 5px;
    font-family: $sansserif;
  }
  .meta__category::before {
    content: 'in '
  }
  .meta__avatar {
    margin: 1em auto;
  }
}

.category--full,
.title--full,
.meta--full .meta__avatar,
.meta--full .meta__author,
.meta--full .meta__date,
.meta--full .meta__reading-time {
  opacity: 0;
}

.content__item p {
  opacity: 0;
}

.category--full,
.title--full {
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}

.meta--full {
  .meta__avatar,
  .meta__author,
  .meta__date,
  .meta__reading-time {
    -webkit-transform: scale3d(0.5,0.5,1);
    transform: scale3d(0.5,0.5,1);
  }
}

.content__item--show {
  .category--full,
  .title--full,
  .meta--full .meta__avatar,
  .meta--full .meta__author,
  .meta--full .meta__date,
  .meta--full .meta__reading-time {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
    transition-timing-function: cubic-bezier(0.2,1,0.3,1);
  }
}

.content__item--show .category--full,
.content__item--show .title--full {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.content__item--show .title--full {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.content__item--show .meta--full .meta__avatar {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.content__item--show .meta--full .meta__date {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s;
}

.content__item--show .meta--full .meta__reading-time {
  -webkit-transition-delay: 0.34s;
  transition-delay: 0.34s;
}

.content__item--show.content__item p {
  opacity: 1;
  -webkit-transition: opacity 0.5s 0.25s;
  transition: opacity 0.5s 0.25s;
}

/* close button (for content and sidebar) */
.close-button {
  position: absolute;
  border: none;
  background: none;
  margin: 0;
  z-index: 100;
  top: 0;
  right: 0;
  font-size: 18px;
  color: #ddd;
  cursor: pointer;
  pointer-events: none;
  padding: 10px 20px;
  opacity: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.close-button span {
  display: none;
}

.close-button:hover {
  color: #7b7b7b;
}

/* show class for content close button */
.close-button--show {
  opacity: 1;
  pointer-events: auto;
}



$viewport_xs:   $item_width + $sidebar_width; /* 1 column */
$viewport_s:  $item_width * 2 + $sidebar_width; /* 2 columns */
$viewport_m:  $item_width * 3 + $sidebar_width; /* 3 columns */
$viewport_l:  $item_width * 4 + $sidebar_width; /* 4 columns */
$viewport_xl:   $item_width * 5 + $sidebar_width; /* 5 columns */
$viewport_xxl:  $item_width * 6 + $sidebar_width; /* 6 columns */

@media screen and (min-width: $viewport_xs) {
  html,
  body,
  .container,
  .main {
    height: 100vh;
  }

  .main {
    height: 100%;
    margin-left: $sidebar_width;
  }

  .content__item {
    font-size: 1em;
  }

  .grid__item {
    padding: 25px 20px 10px;
  }

  /* Demo ad */
  body #cdawrap {
    right: auto;
    left: 30px;
    top: auto;
    bottom: 0;
    background: none;
    border: none;
    width: 240px;
    background: $color_primary;
  }

  body #cdawrap .carbon-text {
    color: #7b7b7b;
  }

  body #cdawrap a.carbon-poweredby {
    color: #7883C4;
  }

  body #cdawrap a:hover.carbon-poweredby {
    color: #333;
  }

  body #cdawrap #cda-remove {
    display: none;
  }
}

@media screen and (min-width: $viewport_s) {

  /* 2 columns */
  .grid__item {
    width: 50%;
    border: none;
  }

  .grid__item::before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgba(74,74,74,0.075);
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }

  .grid__item:hover::before,
  .grid__item:focus::before {
    border: 3px solid rgba(129,196,131,0.5);
  }

  .grid__item--loading.grid__item::before {
    opacity: 0;
  }
}

@media screen and (min-width: $viewport_m) {
  /* 3 columns */
  .grid__item {
    width: 24.7%;
  }
}

@media screen and (min-width: $viewport_l) {
  /* 4 columns */
  .grid__item {
    width: 24.7%;
  }
}

@media screen and (min-width: $viewport_xl) {
  /* 5 columns */
  .grid__item {
    width: 20%;
  }
}

@media screen and (min-width: $viewport_xxl) {
  /* 6 columns */
  .grid__item {
    width: 16.66%;
  }
}

/* small screen changes for sidebar (it becomes an off-canvas menu) */
@media screen and (max-width: $viewport_xs - 1px) {
  .sidebar {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
  }
  .sidebar.sidebar--open {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  .sidebar.sidebar--open ~ .main {
    pointer-events: none;
  }
  .top-bar {
    padding: 22px 15px 10px 60px;
  }
  .menu-toggle {
    display: inline-block;
  }
  .sidebar .close-button {
    opacity: 1;
    pointer-events: auto;
  }
  .title--full {
    font-size: 2em;
  }
  .content__item {
    padding: 80px 20px 40px;
  }
  .content .close-button {
    padding: 10px 20px;
  }
  .content .close-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: $color_secondary;
    border-bottom: 1px solid $color_primary;
    width: 100vw;
    height: 50px;
    pointer-events: none;
    z-index: -1;
  }
}

@media screen and (max-height: 580px) {
  body #cdawrap {
    display: none;
  }
}

